.select span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items{
    position: absolute;
    border:1px solid red;
}

.item.selected{
    background-color: blue;
    color: white;
}
